.root{
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
	position: absolute;
	left: 50px;
	bottom: 50px;
	span{
		transform: translate(0, -10%);
		font-size: 26px;
		  animation: myAnimation 2s ease-in-out 0.5s infinite alternate  running;
	}
	
}
@keyframes  myAnimation {
        from {transform: translate(5%, -10%);}
        to {transform: translate(-5%, -10%);}
    }

