@import '../../scss/variables.scss';
@import '../../scss/fonts';
.root {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -20%);

	display: flex;
	flex-direction: column;
	gap: 120px;
	width: 100%;
	@media (max-width: 774px) {
		gap: 180px;
	}
}

.title {
	font-style: normal;

	font-family: bitter;
	font-weight: 200;
	@include adaptiv-font(80, 40);
	padding: 0 10px;

	line-height: 44px;
	text-align: center;
	color: #f2f2f2;
	 user-select: none;  
}
.buttons {
	padding: 0 20px;
	display: flex;
	justify-content: center;
	gap: 50px;
	@media (max-width: 774px) {
		padding: 0 3px;
		gap: 10px;
	}
}

.button {
	width: 348px;
	height: 77px;
	background: rgba(17, 17, 17, 0.605);
	border: 1px solid #c4c4c4;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 2px;
	color: #ffffff;
	transition: all 0.3s ease 0s;
	&:hover {
		border-radius: 50px;
	}
	@media (max-width: 774px) {
		font-size: 14px;
		
		height: 40px;
	}
	
}
