
@font-face{
	font-family: serafina;
	src: url('../fonts/serafina.ttf');
}


@font-face{
	font-family: bitter;
	src: url('../fonts/Bitter-Light.ttf');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: bitter;
	src: url('../fonts/Bitter-Medium.ttf');
	font-weight: 400;
	font-style: normal;
}