@import './variables.scss';
@import './libs/normalize.scss';
@import './components/all.scss';

.wrapper {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	
}
h1 {
	color: white;
}

.hidden {
	display: none;
}
.slick-slider-promo {
	height: 100vh;
	overflow: hidden;
}


#tg{
	background-color: rgb(31, 31, 31);
	padding: 50px 20px;
	border-radius: 20px;
}
.footer_container{
	padding: 0 20px;
}